*.idea
17_18_19_20_21_creating_haar_cascade/neg/
17_18_19_20_21_creating_haar_cascade/ugly_broken_imgs/
17_18_19_20_21_creating_haar_cascade/opencv_workspace/neg/
17_18_19_20_21_creating_haar_cascade/opencv_workspace/opencv/
17_18_19_20_21_creating_haar_cascade/opencv_workspace/xbox_info/
17_18_19_20_21_creating_haar_cascade/opencv_workspace/watch_info/
